chainlit
docx2txt
fastembed
ipykernel
ipython
llama-index
llama-index-embeddings-huggingface
llama-index-embeddings-openai
llama-index-llms-azure-openai
llama-index-llms-ollama
llama-index-readers-llama-parse
llama-index-retrievers-bm25
llama-index-vector-stores-qdrant
llama-parse
notebook
python-docx
python-dotenv
qdrant-client
toml