chainlit==0.7.700
docx2txt==0.8
fastembed==0.3.4
ipykernel==6.29.4
ipython==8.24.0
llama-index==0.10.55
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-openai==0.1.10
llama-index-llms-azure-openai==0.1.10
llama-index-llms-ollama==0.1.5
llama-index-readers-llama-parse==0.1.6
llama-index-retrievers-bm25==0.2.2
llama-index-vector-stores-qdrant==0.2.14
llama-parse==0.4.7
notebook==7.0.8
python-docx==1.1.2
python-dotenv==1.0.0
qdrant-client==1.10.1
toml==0.10.2